@font-face {
  font-family: "gotcha";
  src: url("../fonts/GOTCHA.ttf") format("truetype");
}

@font-face {
  font-family: "calm";
  src: url("../fonts/Calm.ttf") format("truetype");
}

.about-ron {
  width: 45%;
  float: left;
  text-align: justify;
  margin-left: 20px;
}

body {
  background-color: #ededed;
}

li {
  list-style: none;
  display: inline;
  float: right;
  margin: 10px;
}

.icon-div {
  display: block;
  font-size: 2em;
  float: left;
}

.email {
  background-color: #8c2121;
  border-radius: 10px;
  font-family: calm;
  width: 35%;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
  float: left;
  clear: both;
}

.email a {
  color: white;
}

i {
  margin: 40px 10px 40px 0px;
}

.portrait {
  text-align: center;
}

.portrait img {
  display: inline-block;
  z-index: -1;
}

.text {
  display: block;
  float: left;
}

.tiles {
  width: 45%;
  float: right;
}

.tiles img {
  width: 22%;
  height: auto;
  vertical-align: middle;
}

.navbar {
  padding: 20px;
  font-family: calm;
  overflow: auto;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}

h1 {
  font-family: gotcha;
  float: left;
  font-size: 5em;
  margin: 0;
}

#none {
  color: #8c2121;
}

h2 {
  margin: 0;
}

h4 {
  margin-top: 2px;
}

.subhead {
  font-size: 3em;
  text-align: left;
}

.calm {
  font-family: "calm"
}
